@CHARSET "UTF-8";

@font-face {
    font-family: SuperMario256;
    src: url('SuperMario256.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    background-image: url('../images/background_supermario.png');
    color: white;
}

div {
    height: 500px;
}

.buttonplace {
    float: left;
}

.spanheaderplace {
    float: right;
}

header {
    height: 64px;
    font-family: SuperMario256;
}

.matheland {
    text-align: center;
    font-family: SuperMario256;
    font-size: 50px;
}

#descriptionStart {
    text-align: center;
}

.weltAnzeige {
    font-family: SuperMario256;
    text-align: center;
}

#buttonsuz {
    margin-left: 30px;
}

/*
#goButton {
    text-align: center;
}
*/