@CHARSET "UTF-8";

@font-face {
    font-family: SuperMario256;
    src: url('SuperMario256.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    background-color:#5D94FB;
    color: white;
}

div {
    height: 500px;
}

.buttonplace {
    float: left;
}

.spanheaderplace {
    float: right;
}

header {
    height: 64px;
    font-family: SuperMario256;
}

.matheland {
    text-align: center;
    font-family: SuperMario256;
    font-size: 50px;
}

#descriptionStart {
    text-align: center;
    font-size: 17pt;
    line-height: 30pt;
}

.weltAnzeige {
    font-family: SuperMario256;
    text-align: center;
}

.marked {
    background-color: yellow;
    color: black;
    border-radius: 2px 0 0 2px;
}

.marked + .marked {
    border-radius: 0;
}

.marked.last {
    border-radius: 0 2px 2px 0;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    letter-spacing: 0.03em;
}

/*
#goButton {
    text-align: center;
}
*/


#LosButton:hover {
    background: #FF3333 ;
    text-decoration: none;
}

#LosButton{
    margin:auto;
    display:block;
    align-content: center;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-box-shadow: 0px 3px 0px #666666;
    -moz-box-shadow: 0px 3px 0px #666666;
    box-shadow: 0px 3px 0px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    background: #0066CC;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 4px;
    text-decoration: none;
}

#SBButton {
    margin-left: 30px;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    background: #003399;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#text_loesung {
    color: black;
}

.zeichnenButton{
    margin-top:10px;
}

.divBeschreibung {
    width: 400px;
    height: 250px;
}

.buttonAdd{
    background-color: #003399; /* Vordergrundfarbe laut CD */
    border:solid;
    border-radius:12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}