<script type="text/ng-template" id="functionsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Hilfe</h3>
    </div>
    <div class="modal-body video">
        <video controls width="1280" autoplay>
            <source src="media/functions.mp4" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Schließen</button>
    </div>
</script>
<script type="text/ng-template" id="winModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Gratuliere!</h3>
    </div>
    <div class="modal-body">
        Glückwunsch! Du hast es geschafft!
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Weiter zum nächsten Beispiel</button>
    </div>
</script>
<script type="text/ng-template" id="loseModalm.html">
    <div class="modal-header">
        <h3 class="modal-title">Nicht ganz...</h3>
    </div>
    <div class="modal-body">
        An dieser Liane wird sich Mario nicht festhalten können.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Noch einmal versuchen</button>
    </div>
</script>
<script type="text/ng-template" id="loseModalc.html">
    <div class="modal-header">
        <h3 class="modal-title">Nicht ganz...</h3>
    </div>
    <div class="modal-body">
        Mario kann zwar die Liane greifen, verfehlt aber die Münze.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Noch einmal versuchen</button>
    </div>
</script>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h1>Funktionen</h1>

            <span class="fontSize">
                Mario möchte an einer Liane diese Schlucht überqueren.
                <br><br>
                Er weiß, dass er dabei dem Pfad der quadratischen Parabelfunktion y=ax²+c folgt, wobei a den Streckungsfaktor der Parabel und c die vertikale Verschiebung der Parabel angibt.
                <br><br>
                Welche Funktionswerte muss Mario einsetzen, damit er auf seinem Weg die Münze einsammeln kann?
                <br><br>
                Notwendige Werte kannst du aus der Skizze entnehmen.
            </span>
            <div class="button-box">
                <button class="buttonAdd" ng-click="vm.openModal()">Hilfe gefällig?</button>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 input-box">
            <form name="functionsForm" novalidate ng-submit="vm.submit()">
                <div class="col-xl-6 col-lg-12 col-md-12 value-box">
                    <label for="inputA" class="fontSize">A:</label>
                    <input id="inputA" type="number" ng-model="vm.input.a" required>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 value-box">
                    <label for="inputC" class="fontSize">C:</label>
                    <input id="inputC" type="number" ng-model="vm.input.c" required>
                </div>

                <button type="submit" ng-disabled="functionsForm.$invalid" class="buttonAdd">Zeichnen</button>
            </form>
            <button ng-show="anzeigen()">?</button>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-6">
                <div class="function-box">
                    <canvas id="canvas" width="720" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
