<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h1> {{ueberschriftFunction }}</h1>
        <p>{{ beschreibungFunction }}</p>
        <input type="button" value="Lösung anzeigen">
    </div>
    <div class="col-md-4 col-md-offset-1">
        <input type="text">
        <div ng-show="anzeigen()">
            <button>?</button>
            <span>Formel zum Einsetzen</span>
        </div>
    </div>
    <div class="col-md-12">
        <canvas id="canvas" width="720" height="300"></canvas>
    </div>
</div>
