<div class="row">
    <div class="col-md-11 col-md-offset-1 col-xs-offset-1 row">

        <div class="row col-md-12 col-xs-12 divheadline">
            <h1>
                Funktionen
            </h1>
        </div>

        <div class="col-md-12 col-xs-12 row">
            <div class="col-md-6 col-xs-6 row">
                <div class="divBeschreibung col-md-11 col-xs-11">
                    <span>
                        Funktion Text Funktion TextFunktion TextFunktion TextFunktion TextFunktion TextFunktion Text
                        Funktion TextFunktion TextFunktion TextFunktion TextFunktion TextFunktion TextFunktion Text
                        Funktion TextFunktion TextFunktion TextFunktion TextFunktion TextFunktion TextFunktion Text
                    </span>

                    <div class="text_hilfebtn">
                        <button class="buttonAdd">Hilfe</button>
                    </div>

                </div>

            </div>

            <div class="col-md-5 col-xs-5">
                <span>Formel zum Einsetzen: </span><input type="text">

                <button ng-show="anzeigen()">?</button>
            </div>

        </div>

    </div>

    <div class="col-md-12">
        <canvas id="canvas" width="720" height="300"></canvas>
    </div>
</div>