<div class="row">
    <a class="col-md-4 col-md-offset-4">
        <h1 class="matheland">MATHELAND</h1>
        <p id="descriptionStart">
            Willkommen im Matheland! Du hast 3 Level zu überstehen mit jeweils 3 Aufgaben die du meistern musst!
            Ein Vektorenbeispiel, ein Funktionsbeispiel und ein Textbeispiel. Immer wenn du diese 3 erledigt hast
            bekommst du eine Krone, welche Farbe es sein wird entscheidest du selbst in dem du nacheinander die Level schaffst!
        </p>
        <button ng-click="vm.startGame()" id="LosButton">Los!</button>
    </a>
</div>
