<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h1>{{ ueberschriftText }}</h1>
        <p>{{ beschreibungText }}</p>

        <div class="row">
            <div class="col-md-5">
                <input type="button" value="Lösung anzeigen">
            </div>

            <div class="col-md-4">
                <span id="text_loesung">Formel zum Einsetzen: </span><input type="text">

                <button ng-show="anzeigen()">?</button>
            </div>
        </div>

    </div>





    <div class="col-md-12">
        <canvas id="canvas" width="720" height="300"></canvas>
    </div>
    <div>
        <p id="text">
            <span id="text-{{ $index }}" ng-repeat="char in vm.game.displayText track by $index">{{ char }}</span>
        </p>
        <button ng-click="vm.submit()">Fertig</button>
        <button ng-click="vm.reset()">Zurücksetzen</button>
    </div>
</div>


