<script type="text/ng-template" id="textModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Hilfe</h3>
    </div>
    <div class="modal-body video" id="modal-body">
        <video controls width="1280" autoplay>
            <source src="media/text.mp4" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Schließen</button>
    </div>
</script>
<script type="text/ng-template" id="winModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Gratuliere!</h3>
    </div>
    <div class="modal-body">
        Glückwunsch! Du hast es geschafft!
        <br><br>
        Damit hast du alle Beispiele absolviert. Versuche dich doch gleich noch einmal an ihnen &#x1F609;
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Zurück zum Start</button>
    </div>
</script>
<script type="text/ng-template" id="loseModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Nicht ganz...</h3>
    </div>
    <div class="modal-body">
        Lies dir die Angabe noch einmal genau durch.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Noch einmal versuchen</button>
    </div>
</script>
<div class="row">
    <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-1">
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-11 col-md-11 col-xs-10">
                <h1 class="headline">Textbeispiel</h1>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <span class="fontSize">
                            Aufgepasst! Mario braucht deine Hilfe! Markiere die wichtigsten Teile der Textangabe!
                            Ohne deine Hilfe kann Mario nicht die nächste Krone erringen!
                        </span>
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <button class="buttonAdd" ng-show="vm.mistakeCount >= 3" ng-click="vm.openModal()">Hilfe gefällig?</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-5 col-xs-offset-1 col-md-offset-1" align="right">
                        <form class="row" ng-submit="vm.submit()">
                            <div class="row ">
                                <div class="col-md-8 col-xs-8">
                                    <label for="Formel" class="fontSize">Formel</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <input id="Formel" type="string" ng-model="vm.input.x" ng-value="vm.input.x" required>
                                <input type="submit" class="buttonAdd" value="Prüfen">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
        <div>
            <p id="text">
                <span id="text-{{ $index }}" ng-repeat="char in vm.game.displayText track by $index">{{ char }}</span>
            </p>
            <button ng-click="vm.submit()">Fertig</button>
            <button ng-click="vm.reset()">Zurücksetzen</button>
        </div>
    </div>
</div>