<script type="text/ng-template" id="textModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Hilfe</h3>
    </div>
    <div class="modal-body video" id="modal-body">
        <video controls width="1280" autoplay>
            <source src="media/text.mp4" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Schließen</button>
    </div>
</script>
<script type="text/ng-template" id="winModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Gratuliere!</h3>
    </div>
    <div class="modal-body">
        Glückwunsch! Du hast es geschafft!
        <br><br>
        Damit hast du alle Beispiele absolviert. Versuche dich doch gleich noch einmal an ihnen &#x1F609;
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Zurück zum Start</button>
    </div>
</script>
<script type="text/ng-template" id="loseModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Nicht ganz...</h3>
    </div>
    <div class="modal-body">
        Lies dir die Angabe noch einmal genau durch.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Noch einmal versuchen</button>
    </div>
</script>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h1 class="headline">Textbeispiel</h1>

                <span class="fontSize">
                    Aufgepasst! Mario braucht deine Hilfe! Markiere die wichtigsten Teile der Textangabe!
                    Ohne deine Hilfe kann Mario nicht die nächste Krone erringen!
                </span>
            <div class="button-box">
                <button class="buttonAdd" ng-click="vm.openModal()">Hilfe gefällig?</button>
            </div>
        </div>



        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 input-box">
            <form ng-submit="vm.submit()">
                <div class="col-xl-6 col-lg-12 col-md-12 value-box">
                    <label for="Formel" class="fontSize">Formel:</label>
                    <input id="Formel" type="string" ng-model="vm.input.x" ng-value="vm.input.x" required>
                </div>

                <button type="submit" class="buttonAdd">Prüfen</button>
            </form>

        </div>
    <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
        <div>
            <p id="text">
                <span id="text-{{ $index }}" ng-repeat="char in vm.game.displayText track by $index" class="fontSize">{{ char }}</span>
            </p>
            <button ng-click="vm.submit()" class="buttonAdd">Fertig</button>
            <button ng-click="vm.reset()" class="buttonAdd">Zurücksetzen</button>
        </div>
    </div>
</div>
<!-- ng-show="vm.mistakeCount >= 3"  Ng-show vom Hilfe-Button -->