<script type="text/ng-template" id="vectorsModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Hilfe</h3>
    </div>
    <div class="modal-body video" id="modal-body">
        <video controls width="1280" autoplay>
            <source src="media/vectors.mov" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Schließen</button>
    </div>
</script>
<script type="text/ng-template" id="winModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Gratuliere!</h3>
    </div>
    <div class="modal-body">
        Glückwunsch! Du hast es geschafft!
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">Weiter zum nächsten Beispiel</button>
    </div>
</script>
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-11 col-md-11 col-xs-10">
                <h1 class="headline">Panzer-Minigolf</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <span class="fontSize">
                            Achtung! Du musst den Panzer in das Loch schießen!
                            Verwende dabei dein Wissen von Vektoren und schieße mit den Koordinaten X und Y den Panzer ins Loch! Das Eingabefeld dafür findest zu hier gleich rechts!
                            Wenn du gegen ihn die klebrige Wand schießt prallt er nur ganz wenig ab, also pass auf!
                        </span>
                    </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-xs-3">
                                <button class="buttonAdd" ng-click="vm.openModal()">Hilfe gefällig?</button>
                            </div>
                        </div>

                    <div class="col-md-5 col-xs-5 col-xs-offset-1 col-md-offset-1" align="right">
                        <form class="row" ng-submit="vm.submit()">
                            <div class="row ">
                                <div class="col-md-8 col-xs-8">
                                    <label for="inputX" class="fontSize">X-Wert:</label>
                                    <label for="inputY" class="fontSize">Y-Wert:</label>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <input id="inputX" type="number" ng-model="vm.input.x" ng-value="vm.input.x" required>
                                <input id="inputY" type="number" ng-model="vm.input.y" ng-value="vm.input.y" required>
                                <input type="submit" class="buttonAdd" value="Zeichnen">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
        <div class="border">
            <canvas id="canvas" width="720" height="288" class="vectorsCanvas"></canvas>
        </div>
    </div>
